table {
  width: 100%;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  border-spacing: 0 10px;

  font-size: 1.1rem;
  text-align: left;
}

th {
  padding: 5px 10px;
  background-color: var(--title-bg);
  color: var(--title-color);
}

td {
  padding: 5px 10px;
  background-color: var(--notes-bg);
  color: var(--notes-text-color);
}

.name {
  font-weight: 500;
  color: var(--notes-name-color);
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--accent);
  border-radius: 50%;
}

.buttonsWrap {
  display: flex;
  justify-content: center;
}

.buttonWrap {
  background-color: transparent;
}

.buttonWrap:not(:last-child) {
  margin-right: 5px;
}

.showModal {
  width: 400px;
  font-size: 1.5rem;
  color: var(--title-color);
}
.showModalName {
  margin-bottom: 20px;
  font-weight: 700;
  word-wrap: break-word;
}
.showModalContent {
  word-wrap: break-word;
  font-size: 1.3rem;
}

th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
