.form {
  width: 400px;
  font-size: 1.5rem;
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;

  color: var(--title-color);
}

.input {
  display: block;
  width: 100%;
  height: 50px;

  padding: 0 10px;
  border: none;
  border-radius: var(--border-radius);
}

.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--title-color);
}

.categoryLabel {
  display: flex;
}

.categoryInput {
  margin-right: 10px;
}

.textarea {
  width: 100%;
  height: 150px;

  padding: 10px;
  border: none;
  border-radius: var(--border-radius);

  resize: none;
}

.submit {
  display: block;
  margin-left: auto;
  background-color: transparent;

  cursor: pointer;

  transition: transform 250ms;
}

.submit:hover,
.submit:focus {
  transform: scale(1.1);
}

.error {
  text-align: center;
  color: red;
  font-size: 1.2rem;
}
